BeautifulSoup==3.2.2
boto==2.49.0
Cheetah==2.4.4
cheroot==8.5.2
ClientForm==0.2.10
cx_Oracle==8.1.0
DBUtils==2.0
flup==1.0.3
Genshi==0.7.5
Jinja2==2.11.3
Mako==1.1.4
protobuf==3.15.5
psycopg2==2.8.6
pymssql==2.1.5
