tqdm==4.54.1
matplotlib==3.3.3
numpy==1.19.4
pandas==1.2.0
attrdict==2.0.1
convertdate==2.3.1
dataclasses==0.8
holidays==0.10.5.2
livelossplot==0.5.4
lunarcalendar==0.0.9
neuralprophet==0.2.7
python_dateutil==2.8.1
torch==1.8.0
torch_lr_finder==0.2.1
