ipywidgets==7.6.3
numpy==1.19.4
traitlets==5.0.5
matplotlib==3.3.3
captum==0.4.0
Flask==2.0.1
ipython==7.26.0
protobuf==3.17.3
scikit_learn==0.24.2
tests==0.007
torch==1.9.0
torchvision==0.10.0
typing_extensions==3.10.0.0
