opencv_python==4.5.1.48
numpy==1.19.4
six==1.15.0
pytz==2020.4
pandas==1.2.0
dill==0.3.3
diskcache==5.2.1
future==0.18.2
gcsfs==0.7.2
mock==4.0.3
packaging==20.9
petastorm==0.9.8
Pillow==8.1.2
psutil==5.8.0
py4j==0.10.9.2
pyarrow==3.0.0
pyspark==3.1.1
pytest==6.2.2
pyzmq==22.0.3
s3fs==0.5.2
tensorflow==2.4.1
torch==1.8.0
torchvision==0.9.0
