pandas==1.2.0
requests==2.25.0
matplotlib==3.3.3
tqdm==4.54.1
urllib3==1.24.3
numpy==1.19.4
decorator==4.4.2
akshare==1.0.60
appdirs==1.4.4
beautifulsoup4==4.9.3
demjson==2.2.4
jsonpath==0.82
lxml==4.6.3
Pillow==8.3.1
py_mini_racer==0.6.0
pypinyin==0.42.0
tabulate==0.8.9
websocket_client==1.2.1
