six==1.15.0
numpy==1.19.4
tqdm==4.54.1
requests==2.25.0
pandas==1.2.0
academictorrents==2.3.2
h5py==3.2.1
munkres==1.1.4
ordered_set==4.0.2
Pillow==8.1.2
pytest==6.2.2
torch==1.8.0
torchmeta==1.6.1
torchvision==0.9.0
