Click==7.0
Jinja2==3.0.1
attrs==21.2.0
requests==2.25.0
appdirs==1.4.4
archivy==1.4.0
attr==0.3.1
beautifulsoup4==4.9.3
click_plugins==1.1.1
elasticsearch==7.14.0
Flask==2.0.1
flask_compress==1.10.1
flask_login==0.5.0
flask_wtf==0.15.1
html2text==2020.1.16
python_frontmatter==1.0.0
PyYAML==5.4.1
tinydb==4.5.1
validators==0.18.2
Werkzeug==2.0.1
WTForms==2.3.3
